
<!-- ========================
      Footer
    ========================== -->
    <footer class="footer">
        <div class="footer-primary">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="footer-widget-contact">
                  <h6 class="footer-widget-title">Quick Contacts</h6>
                  <p>If you have any questions or need help, feel free to contact with our team.</p>
                  <ul class="contact-list list-unstyled">
                    <li>
                      <a href="mailto:info@prachinpharmachem.com">
                        <i class="contact-icon icon-email"></i> <span style="font-size: 16px;font-weight: 500;">info@prachinpharmachem.com</span>
                      </a>
                    </li>
                    <li>
                      <a href="tel:079-805-806-807">
                        <i class="contact-icon icon-phone"></i> <span style="font-size: 16px;font-weight: 500;">079-805-806-807</span>
                      </a>
                    </li>
                  </ul><br>
                                    <div class="address-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-links active" data-toggle="tab" href="#plant" role="tab">Plant</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-links" data-toggle="tab" href="#corporate" role="tab">Corporate Office</a>
                      </li>
                    </ul>
                    
                    <div class="tab-content mt-3">
                      <div class="tab-pane fade show active" id="plant" role="tabpanel">
                        <p><i class="fas fa-map-marker-alt"></i> 1307/6-7-8, Phase IV, G.I.D.C Estate
                        Naroda, Ahmedabad-382330
                        Gujarat, India</p>
                      </div>
                      <div class="tab-pane fade" id="corporate" role="tabpanel">
                        <p><i class="fas fa-map-marker-alt"></i> 805/806/807 Binori B Square III,
                        Sindhubhavan Road, Bodakdev,
                        Ahmedabad-380054 INDIA</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div><!-- /.col-xl-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2">
                <div class="footer-widget-nav">
                  <h6 class="footer-widget-title">Top Links</h6>
                  <nav>
                    <ul class="list-unstyled">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="Product-list.html">Products</a></li>
                      <li><a href="media-library.html">Media Library</a></li>
                      <li><a href="certifications.html">Certifications</a></li>
                      <li><a href="blog.html">Blogs</a></li>
                      <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget-content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2">
                <div class="footer-widget-nav">
                  <h6 class="footer-widget-title">Industries We Serve</h6>
                  <nav>
                    <ul class="list-unstyled">
                      <li><a>Pharmaceutical</a></li>
                      <li><a>Nutraceutical</a></li>
                      <li><a>Food</a></li>
                      <li><a>Cosmetics</a></li>
                      <li><a>Ceramic & Paints</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget-content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2">
                <div class="footer-widget-nav">
                  <h6 class="footer-widget-title">Highlighted Products</h6>
                  <nav>
                    <ul class="list-unstyled">
                         <li><a href="../Products/product-template.html?product=parcros">Croscarmellose Sodium</a></li>
                         <li><a href="../Products/product-template.html?product=calpar">Carboxymethyl Cellulose Calcium</a></li>
                         <li><a href="../Products/product-template.html?product=pargel">Sodium Starch Glycolate</a></li>
                      <li><a href="../Products/product-template.html?product=parlose">Microcrystalline Cellulose</a></li>
                      <li><a href="../Products/product-template.html?product=parmeg">Magnesium Stearate</a></li>
                      <li><a href="../Products/product-template.html?product=parfum">Sodium Stearyl Fumarate</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget-content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer-widget-time">
                  <h6 class="footer-widget-title">Download Our Brochure</h6>
                  <p>Get a complete overview of our products and services. Click below to download our company brochure.</p>
                  <div class="d-flex align-items-center">
                                        <div class="dropdown">
                      <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="downloadDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Download</span> <i class="icon-arrow-right"></i>
                      </button>
                      <div class="dropdown-menu w-100" aria-labelledby="downloadDropdown">
                        <a class="dropdown-item" href="/assets/Pdf/Prachin APIs Brochure.pdf" download>APIs Brochure</a>
                                                <a class="dropdown-item" href="/assets/Pdf/Prachin Excipients Brochure.pdf" download>Excipients Brochure</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.footer-widget-time -->
              </div><!-- /.col-lg-2 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.footer-primary -->
        <div class="footer-secondary">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12 d-flex flex-wrap">
                <ul class="social-icons list-unstyled mb-0 mr-50">
                  <li><a href="mailto:info@prachinpharmachem.com"><i class="fas fa-envelope"></i></a></li>
                  <!--<li><a href="#"><i class="fab fa-instagram"></i></a></li>-->
                  <li><a href="https://www.linkedin.com/company/prachin-pharmachem/"><i class="fab fa-linkedin"></i></a></li>
                </ul><!-- /.social-icons -->
                <div>
                  <nav>
                    <ul class="list-unstyled footer-copyright-links d-flex flex-wrap mb-0">
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      
                      
                    </ul>
                  </nav>
                  <div class="mt-1">
                    <span>&copy; 2025 Prachin, All Rights Reserved. With ❤️ by</span>
                    <a class="color-secondary" href="http://voscart.com">Voscart</a>
                  </div>
                </div>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.footer-secondary -->
      </footer><!-- /.Footer -->
      <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>

      <svg class="svg-pathes" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">

        <clipPath id="hexagon-clippath" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.701 L1,0.701 C1,0.747,0.972,0.789,0.926,0.812 L0.574,0.989 C0.528,1,0.472,1,0.426,0.989 L0.074,0.812 C0.028,0.789,0,0.747,0,0.701 L0,0.701 L0,0.311 L0,0.311 C0,0.265,0.028,0.223,0.074,0.2 L0.426,0.023 C0.472,0,0.528,0,0.574,0.023 L0.926,0.2 C0.972,0.223,1,0.265,1,0.311 L1,0.311 L1,0.701">
          </path>
        </clipPath>
        <clipPath id="hexagon-clippath2" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.701 L1,0.701 C1,0.747,0.972,0.789,0.926,0.812 L0.574,0.989 C0.528,1,0.472,1,0.426,0.989 L0.074,0.812 C0.028,0.789,0,0.747,0,0.701 L0,0.701 L0,0.311 L0,0.311 C0,0.265,0.028,0.223,0.074,0.2 L0.426,0.023 C0.472,0,0.528,0,0.574,0.023 L0.926,0.2 C0.972,0.223,1,0.265,1,0.311 L1,0.311 L1,0.701">
          </path>
        </clipPath>
        <clipPath id="path-direction-right" clipPathUnits="objectBoundingBox">
          <path
            d="M0.006,1 C0.156,1,0.295,0.972,0.371,0.926 L0.95,0.574 C1,0.528,1,0.472,0.95,0.426 L0.371,0.074 C0.295,0.028,0.156,0,0.006,0 L0.006,1">
          </path>
        </clipPath>
        <clipPath id="path-direction-left" clipPathUnits="objectBoundingBox">
          <path
            d="M0.892,1 L0.892,0 L1,0 L1,1 L0.892,1 M0.05,0.574 C-0.017,0.528,-0.017,0.472,0.05,0.426 L0.567,0.074 C0.634,0.028,0.757,0,0.892,0 L0.892,1 C0.757,1,0.634,0.972,0.567,0.926 L0.05,0.574">
          </path>
        </clipPath>
        <clipPath id="path-direction-left2" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0 C0.85,0,0.711,0.028,0.635,0.074 L0.056,0.426 C-0.019,0.472,-0.019,0.528,0.056,0.574 L0.635,0.926 C0.711,0.972,0.85,1,1,1 L1,0">
          </path>
        </clipPath>
        <clipPath id="path-direction-right2" clipPathUnits="objectBoundingBox">
          <path
            d="M0,0 C0.151,0,0.289,0.028,0.365,0.074 L0.944,0.426 C1,0.472,1,0.528,0.944,0.574 L0.365,0.926 C0.289,0.972,0.151,1,0,1 L0,0">
          </path>
        </clipPath>
        <clipPath id="path-direction-up" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.258 C1,0.258,1,0.258,1,0.258 L1,0.258 L1,0.976 C1,0.989,0.993,1,0.983,1 L0.017,1 C0.007,1,0,0.989,0,0.976 L0,0.257 L0,0.257 C0,0.219,0.028,0.183,0.074,0.164 L0.426,0.015 C0.472,-0.005,0.528,-0.005,0.574,0.015 L0.926,0.164 C0.972,0.183,1,0.219,1,0.257 L1,0.257 L1,0.258">
          </path>
        </clipPath>
        <clipPath id="path-direction-down" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.859 C0.998,0.88,0.97,0.898,0.926,0.909 L0.574,0.992 C0.528,1,0.472,1,0.426,0.992 L0.074,0.909 C0.03,0.898,0.002,0.88,0,0.859 L0,0.859 L0,0.857 C0,0.856,0,0.856,0,0.856 L0,0.856 L0,0 L1,0 L1,0.859 L1,0.859">
          </path>
        </clipPath>
        <clipPath id="path-direction-down2" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.743 C1,0.781,0.972,0.817,0.926,0.836 L0.574,0.985 C0.528,1,0.472,1,0.426,0.985 L0.074,0.836 C0.028,0.817,0,0.781,0,0.743 L0,0.743 L0,0.742 C0,0.742,0,0.742,0,0.742 L0,0.742 L0,0.024 C0,0.011,0.007,0,0.017,0 L0.983,0 C0.993,0,1,0.011,1,0.024 L1,0.743 L1,0.743">
          </path>
        </clipPath>
        <clipPath id="path-direction-down-sm" clipPathUnits="objectBoundingBox">
          <path
            d="M1,0.686 C0.997,0.732,0.969,0.773,0.926,0.796 L0.574,0.982 C0.528,1,0.472,1,0.426,0.982 L0.074,0.796 C0.03,0.773,0.003,0.732,0,0.686 L0,0.686 L0,0.681 C0,0.68,0,0.68,0,0.679 L0,0.679 L0,0.042 C0,0.019,0.011,0,0.024,0 L0.976,0 C0.989,0,1,0.019,1,0.042 L1,0.686 L1,0.686">
          </path>
        </clipPath>
  
        <clipPath id="path-direction-left-large" clipPathUnits="objectBoundingBox">
          <path
            d="M0.301,1 L0.301,0 L1,0 L1,1 L0.301,1 M0.191,0.926 L0.017,0.574 C-0.006,0.528,-0.006,0.472,0.017,0.426 L0.191,0.074 C0.214,0.028,0.256,0,0.301,0 L0.301,1 C0.256,1,0.214,0.972,0.191,0.926">
          </path>
        </clipPath>
        <clipPath id="path-direction-right-large" clipPathUnits="objectBoundingBox">
          <path
            d="M0.983,0.574 L0.809,0.926 C0.786,0.972,0.744,1,0.699,1 L0.699,0 C0.744,0,0.786,0.028,0.809,0.074 L0.983,0.426 C1,0.472,1,0.528,0.983,0.574 M0,0 L0.699,0 L0.699,1 L0,1 L0,0">
          </path>
        </clipPath>
      </svg>

